<form class="task-form" action="#" method="post">
    <input type="hidden" name="csrf_token" value="{% if csrf_token is defined %}{{ csrf_token.csrf_token }}{% endif %}">
    <div class="row mb-3">
        <label class="col-12 text-center col-md-5 col-lg-4 text-md-end col-form-label" for="task_name">Task Name</label>
        <div class="col-md-6 col-lg-7">
            <input type="text" class="form-control" id="task_name" name="task_name" value="{% if fields.task_name is defined %}{{ fields.task_name }}{% endif %}" placeholder="Task Name" required>
        </div>        
    </div>
    <div class="row mb-3">
        <label class="col-12 text-center col-md-5 col-lg-4 text-md-end col-form-label" for="task_description">Task Description</label>
        <div class="col-md-6 col-lg-7">
            <textarea class="form-control" id="task_description" name="task_description" placeholder="Task Description">{% if fields.task_description is defined %}{{ fields.task_description }}{% endif %}</textarea>
        </div>        
    </div>
    <div class="row mb-3">
        <label class="col-12 text-center col-md-5 col-lg-4 text-md-end col-form-label" for="task_priority">Task Priority</label>
        <div class="col-md-6 col-lg-7">
            <select class="form-control" id="task_priority" name="task_priority">            
            {% for priority in priorities %}
            <option value="{{ priority.task_priority_id }}" {% if fields.task_priority is defined and fields.task_priority == priority.task_priority_id %}selected{% endif %}>{{ priority.task_priority_level|capitalize }}</option>
            {% endfor %}            
        </select>
        </div>        
    </div>
    <div class="row mb-3">
        <label class="col-12 text-center col-md-5 col-lg-4 text-md-end col-form-label" for="task_active">Task active</label>
        <div class="col-md-6 col-lg-7">            
            <input type="checkbox" id="task_active" name="task_active" {% if fields.active is defined and fields.active %}checked{% endif %}>            
        </div>
    </div>
    <div class="row mb-3">        
        <div class="col-md-6 offset-md-5 col-lg-7 offset-lg-4">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/tasks/task/index" class="btn btn-secondary">Cancel</a>
        </div>        
    </div>    
</form>